.container {
    display: flex;
}

#numberContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
}
# operatorContainer {
    display: flex;    
    width: 40%;
}

.numBtn {
    width: 33%;
}
#numBtn0 {
    order: 10;
}
