.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
}

#numberContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
}
#operatorContainer {
    display: flex;  
    flex-wrap: wrap;  
    width: 40%;
}

.numBtn {
    width: 33%;
    aspect-ratio: 2/1;
}
#numBtn0 {
    order: 10;
}
.operatorBtn {
    width: 50%;
}
