.header {
    display: flex;
    
    justify-content: space-evenly;
    align-items: center;
    background-color: blanchedalmond;
}

.container {
    display: flex;
}

#display {
    width: 200px;
    height: 100px;
    font-size: x-large;
}

#numberContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
}
#operatorContainer {
    display: flex;  
    flex-wrap: wrap;  
    width: 40%;
    justify-content: center;
}

.numBtn {
    width: 33%;
    aspect-ratio: 2/1;
    font-size: x-large;
}
#numBtn0 {
    order: 10;
}
.operatorBtn,
.equalsBtn {
    width: 50%;
    font-size: x-large;
}

